body {
    margin: 0;
    padding: 0;
    
}
.header__tittle {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #7E7E82;
    font-size: 16px;
    font-weight: 400;
    padding: 16px;
    text-transform: uppercase;
    line-height: 24px;
    font-family: 'TT Lakes';
    background: #F8F8F8;
    
    

}
.swiper {
    width: 100%;
    margin:0;
    padding: 0;
    height: 150px;
}

.swiper-wrapper {
    height: 150px;
    border-radius: 10px;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8F8F8;
    color: rgb(5, 5, 5);
    
}

.swiper-button-prev,
.swiper-button-next {
    color: #e6e5e5;
}
